{% extends 'base.html'%}
{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?coding" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Python Web Scraper</h5>
        <p>Web scrapper is the data extraction tool designed for web pages.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?twitter" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Python Web Scraper</h5>
        <p>Web scrapper is the data extraction tool designed for web pages.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?javascript" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Python Web Scraper</h5>
        <p>Web scrapper is the data extraction tool designed for web pages.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="container my-3">
<h1 class='my-4 text-center'>Our Tranding Products!!</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://source.unsplash.com/1200x900/?coders" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">web data extraction is data scraping used for extracting data from websites. Web scraping software may access the World Wide Web directly using the Hypertext Transfer Protocol, or through a web browser.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?coding" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Scraping, or "web scraping," is the process of extracting large amounts of information from a website. This may involve downloading several web pages or the entire site. The downloaded content may include just the text from the pages,.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?twitter" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">For analysis and understanding the market trend you can scrape twitter data. Lots of people came for us and demanded Twitter data for sentiment analysis. We have done no of projects of Twitter data scraping for analysis purpose.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>
{% endblock body%}
